<html>
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <title>Monster of ruby 2 - event manager</title>

  <%= javascript_include_tag :defaults %>
  
</head>
<body>
  <%= yield %>
</body>
</html>